<div *ngIf="!isSignedIn">
  <div class="auth-container">
    <div class="auth-content-container" *ngIf="!isMember">
      <h2>Sign Up</h2>
      <div class="auth-item">
        <label for="email">e-mail:</label>
        <input type="text" id="email" #emailSignup />
      </div>
      <div class="auth-item">
        <label for="password">password:</label>
        <input type="password" id="password" #passwordSignup />
      </div>
      <button
        class="auth-button"
        (click)="onSignUp(emailSignup.value, passwordSignup.value)"
      >
        Sign up
      </button>
    </div>
    <button (click)="handleMemberLogin()" class="membership-button" *ngIf="!isMember">
      Allready a member ?
    </button>
    <div class="auth-content-container" *ngIf="isMember" style="margin-top: 16px;">
      <h2>Sign In</h2>
      <div class="auth-item">
        <label for="email">e-mail:</label>
        <input type="text" #email />
      </div>
      <div class="auth-item">
        <label for="email">password:</label>
        <input type="text" #password />
      </div>
      <button
        class="auth-button"
        (click)="onSignIn(email.value, password.value)"
      >
        Sign in
      </button>
    </div>
    <button (click)="handleMemberLogin()" class="membership-button" *ngIf="isMember">
      Not a member lets register !
    </button>
  </div>
</div>

<div *ngIf="isSignedIn" (isLogout)="handleLogout()">
  <header>
    <div>
      <img
        class="logo"
        src="https://images.ctfassets.net/5276wquttznv/75urGEiHlIo7gOjfUM0kQj/194a449cde99cb2465d201c7ab92d53d/qimia-header-logo.png?w=200&q=100"
        alt="logo"
      />
    </div>
    <nav>
      <div
        class="page-route"
        routerLinkActive="active"
        routerLink="/offers"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Offers
      </div>
      <div
        class="page-route"
        routerLinkActive="active"
        routerLink="/iphone-cards"
      >
        Iphone
      </div>
      <div
        class="page-route"
        routerLinkActive="active"
        routerLink="/accessories-cards"
      >
        Accessories
      </div>
      <button (click)="logOut()" class="logout-button">Logout</button>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
