<div >
    <header >
        <div>
            <img class="logo" src="https://images.ctfassets.net/5276wquttznv/75urGEiHlIo7gOjfUM0kQj/194a449cde99cb2465d201c7ab92d53d/qimia-header-logo.png?w=200&q=100" alt="logo"/>
        </div>
        <nav>
            <div class="page-route" routerLinkActive="active" routerLink="/offers" [routerLinkActiveOptions]="{exact: true}" >Offers</div>
            <div class="page-route" routerLinkActive="active" routerLink="/iphone-cards">Iphone</div>
            <div class="page-route" routerLinkActive="active" routerLink="/accessories-cards">Accessories</div>
        </nav>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>