header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: rgb(29, 27, 27);
}

nav{
    display:flex;
    justify-content: space-between;
    margin-right:-8px;
}

.page-route {
    color:#F1AF12;
    border-radius: 8px;
    margin: 0 8px;
    padding:16px;
    text-transform: uppercase;
    cursor: pointer;
}

.page-route:hover{
    background-color: #F1AF12;
    color:#000;
}

.active {
    border: 2px solid #F1AF12;
}

.logo{
    width: 150px;
    height:50px;
}
main{
    margin: 5vh auto;
}

@media (max-width:768px) {
    nav {
        flex-direction: column;
    }
    .page-route {
        border-radius: 8px;
        font-size:12px;
        padding:8px;
        margin: 8px 0 ;

    }
}
