.header {
    width: 30%;
    margin: 2rem auto;
    display:flex;
    justify-content: space-between;
}

.page-route {
    padding: .5rem;
    background-color: rgb(52, 48, 67);
    color: #fff;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
}

.page-route:hover{
    background-color: rgb(128, 51, 66);
}

.active {
    transform: scale(1.3);
}
