/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
  background-color: #3b3737;
  overflow-x: hidden;
}


.page-container {
  position: relative;
}
.cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3rem;
  width: 90%;
  margin: auto;
}

.card-container {
  border:3px solid #e3bc5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-image {
  margin: 16px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.card-info {
  width: 90%;
  margin: 16px;
  font-weight: bold;
}
.card-header {
  font-size: 24px;
  color: #F1AF12;
  margin: 8px;
}

.card-feature {
  font-size: 22px;
  margin: 8px;
  color: #F1AF12;
}

.card-button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: 16px;
}

.card-button {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  padding: 8px;
}

.card-button:hover {
  transform: scale(1.2);
}

.add-card-container {
  width: 90%;
  display:flex;
  justify-content: flex-end;
  margin: 2rem auto ;
}

.add-card-button {
  background-color: rgba(72, 96, 66, 0.5);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border:none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.add-card-button:hover {
  transform: scale(1.2);
}

/* Forms */

.form-container {
  width: 30%;
  margin: auto;
}

.form-control {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  font-weight: bold;
  color: rgb(82, 72, 72);
}

.form-input {
  margin: 8px 0px;
  width: 50%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: lightgrey;
}

.file-input {
    background-color: lightgrey;
    color: rgb(82, 72, 72);
    width:50%;
    padding:8px;
    border-radius: 8px;
    cursor: pointer;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input:focus {
  outline: none;
}

.create-button {
  background-color: rgb(58, 111, 60);
  border-radius: 8px;
  padding: 8px;
  color: rgb(180, 172, 172);
  border: none;
  display: flex;
  margin: 32px auto;
  cursor:pointer;
}

.helper-message {
  color: rgb(194, 88, 88);
  font-size: 12px;
  text-align: right;
}


@media(max-width : 1200px){
  .cards-container {
    grid-template-columns: auto auto;
    gap: 2rem;
  }

  .form-container {
    width: 80%;
    margin: auto;
  }
}

@media(max-width : 768px){
  .cards-container {
    grid-template-columns: auto;
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
